/**@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap&family=Great+Vibes&family=Cormorant+Garamond:ital,wght@1,600&family=Dancing+Script:wght@600&family=IBM+Plex+Serif:ital@1&family=Libre+Baskerville:ital@0;1&display=swap');
font-family: 'Alice', serif;
font-family: 'Aref Ruqaa', serif;
font-family: 'Charm', cursive;
font-family: 'Italianno', cursive;
font-family: 'Lancelot', cursive;
font-family: 'Lovers Quarrel', cursive;
font-family: 'Playball', cursive;


@import url('https://fonts.googleapis.com/css2?family=Playball&family=Italianno&family=Alegreya:ital@1&family=Cormorant+Garamond:ital,wght@1,500&family=Dancing+Script:wght@500&family=Great+Vibes&family=IBM+Plex+Serif&family=Libre+Baskerville&display=swap');**/

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Aref+Ruqaa&family=Charm&family=Italianno&family=Lancelot&family=Lovers+Quarrel&family=Playball&display=swap');

*{
 box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
}

.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color:#333;
}

.brand-title{
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links{
    height: 100%;
}

 


.navbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 1rem;
}

.navbar-links li a:hover{
    color: gray;
}

.toggle-button{
    position:absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color:white;
    border-radius: 10px;
}

.home{
    
   background-image: url("black-flowers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    
    
    height: 620px;
    margin-top: 0px;
    position: relative;

    display: flex;
    justify-content: center ;
    align-items: center;
    padding-top: 20px;

}
.info{
    font-size: 90px;
   
   
    color: black;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Playball', cursive;
    font-family: 'Charm', cursive;
    
    font-weight: 500;
    padding: 0px;
    position: absolute;
    top: 10px;

    
   

}




.about{
    background-image: url("lightgray.jpg");
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

}

img{
   
   width: 280px;
   height: 280px;
   margin: 30px;
   box-shadow:0px 5px 30px 10px rgba(0,0,0,0.4) ;
   

}

.my-info-para{
    font-size: 20px;
    font-family: 'IBM Plex Serif', serif;
    color: black;
    font-family: 'Alice', serif;
    


}
.skills{
    background-image: url("graybg.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-ul{
    display: flex;
    flex-direction: column;
    font-family: 'Libre Baskerville', serif;
    color:black;
    font-size: 30px;

}

 .skillsheader{
     font-size: 80px;
     font-family: 'Libre Baskerville', serif;
     font-family: 'Italianno', cursive;
     font-family: 'Lancelot', cursive;
     
    
 }

 .project-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .projects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}

.project-container  .project-header{
    font-size: 70px;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Italianno', cursive;
    font-family: 'Lancelot', cursive;
    

}


 .projects{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin: 10px;
     
 }

 .proj{
     display: flex;
     flex-direction: column;
     
     justify-content: center;
     align-items: center;
     
     margin: 20px;
     width: 25%;
     box-shadow: 0px 5px 30px 10px rgba(0,0,0,0.5);
 }
 p{
     padding: 20px;
 }

 .footer{
     background-color:gray;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     font-family: 'Alice', serif;
     
 }

 .socialmedia{
     display: flex;
     flex-direction: row;
     justify-content:center;
     align-items: center;
     
 }

 
h1 .footer-heading{
    color: black;
    font-size: 15px;
 }
/** .socialmedia .fa .fa-instagram{
     color: black;
     margin: 10px;
     font-size: 50px;
     cursor: pointer;
     
 }**/

 .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    cursor: pointer;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

 .pro-img{
    width: 350px;
    height: 280px;
    margin: 30px;
    box-shadow:0px 5px 30px 10px rgba(0,0,0,0.4) 
 }

 .proj-para{
     font-family: 'IBM Plex Serif', serif; 
     font-weight: 400;
     font-family: 'Alice', serif;
 }

 .proj-heading{
     font-family: 'Libre Baskerville', serif;
     font-family: 'Aref Ruqaa', serif;
 }

 i{
    color: black;
 }

 a{
     text-decoration:none ;
     font-family: 'Aref Ruqaa', serif;
     font-size: 20px;
     color: brown;
 
 }

 a:hover{
     color: coral;
 }


/** media query for ipad**/
 @media screen and (max-width:1024px){
    .proj{
        width: 100%;
        margin: 10px;

        
    }

.pro-img{
    width: 250px;
    height: 140px;
    margin: 10px;
    box-shadow:0px 5px 30px 10px rgba(0,0,0,0.4) 
 }
}






/** media query for mobile**/


@media screen and (max-width:360px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li{
        text-align: center;
    }
    .navbar-links ul li a{
        padding: .5rem  1rem;
    }

    .navbar-links.active{
        display: flex;
    }



    .home{
        background-image: url("Mypic-mist.jpeg");

        
        background-size: cover;
        
        height: 600px;
       

    }

    .info{
        font-size: 48px;
        color:white;
        font-weight: 400;
        position: absolute;
        top: 250px;
    
    }

    .about{
    
            background-image: url("lightgray.jpg");
            
        display: flex;
        flex-direction: column;
    }

    img{
        width: 200px;
   height: 200px;
   margin: 10px ;
    }


    .my-info-para{
        font-size: 14px;
        font-family: 'IBM Plex Serif', serif;
        color: black;
        font-family: 'Aref Ruqaa', serif;
        font-family: 'Alice', serif;
        
        font-weight: 500;
        
        
    
    }

    .skills-ul{
        font-size: 20px;
        color:black;
    }

    .skillsheader{
        font-size: 60px;
        color: black;
    }

    .project-container{
        display: flex;
        flex-direction: column;
        
    }

    .project-container .project-header{
        font-size: 50px;
    }

    .projects{
        display: flex;
        flex-direction: column;
    
    }

    .proj{
        width: 90%;
        margin: 10px;

        
    }
    .pro-img{
        width: 250px;
        height: 180px;
        margin: 10px;
        box-shadow:0px 5px 30px 10px rgba(0,0,0,0.4) 
     }


}





